.message-window {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 15px 0 15px 15px;
  height: 100%;
  background-color: #f2f3f5;
}

.message-window .single-window {
  margin-right: 15px;
  width: 70%;
  height: 100%;
  background-color: #fff;
}

.message-window .single-sidebar {
  flex: 1;
  padding: 5px;
}
